<mat-card>
  <!-- Title of an Card -->
  <mat-card-title *ngIf="!editMode else hIf ">
    Add User
  </mat-card-title>
  <ng-template #hIf>
    <mat-card-title>
      Edit User
    </mat-card-title>
  </ng-template>

  <mat-card-content>
    <form [formGroup]="userForm" (submit)="addUser()">
      <table>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="firstName" matInput placeholder="First Name">
            </mat-form-field>
            <ng-container *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
              <mat-error *ngIf="firstName.errors.required">
                first name is
                <strong>required</strong>
              </mat-error>
            </ng-container>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="lastName" matInput placeholder="Last Name">
            </mat-form-field>
            <ng-container *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
              <mat-error *ngIf="lastName.errors.required">
                last name is
                <strong>required</strong>
              </mat-error>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
            <ng-container *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <mat-error *ngIf="email.errors.required">
                email address is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="email.errors.email">
                 Not a vaild Email
              </mat-error>
            </ng-container>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input matInput formControlName="phoneNumber" placeholder="Phone Number">
            </mat-form-field>
            <ng-container *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
              <mat-error *ngIf="phoneNumber.errors.required">
                Phone number is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="phoneNumber.errors.pattern">
                 Not a vaild number
              </mat-error>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="Date of birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>
            <ng-container *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert alert-danger">
              <mat-error *ngIf="dob.errors.required">
                Date of birth  is
                <strong>required</strong>
              </mat-error>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>
            <span>Gender</span>
            <br>
            <br>
            <mat-radio-group>
              <mat-radio-button value="1">Male &nbsp;</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>
          </td>
          <td>
            <br>
            <mat-form-field>
              <mat-select placeholder="Select Role" [(value)]="selected">
                <mat-option>-- Select Any --</mat-option>
                <mat-option value="1">Admin</mat-option>
                <mat-option value="2">User</mat-option>
                <mat-option value="3">Client</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="password" matInput placeholder="Password">
            </mat-form-field>
            <ng-container *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <mat-error *ngIf="password.errors.required">
                Password is
                <strong>required</strong>
              </mat-error>
            </ng-container>
          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="confirmPassword" matInput placeholder="Confirm Password">
            </mat-form-field>
            <ng-container *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
              <mat-error *ngIf="confirmPassword.errors.required">
                Confirm Password name is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="confirmPassword.errors">
                Confirm Password donot match with password
              </mat-error>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td colspan="2">

          </td>
        </tr>
        <tr>
          <td colspan="2" class="content-center">
            <button mat-raised-button color="accent">Submit</button>
            &nbsp;
            <button mat-raised-button color="accent">Clear</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>